<h1 class="section_title"><i class="fa-solid fa-id-card"></i>&nbsp;Career</h1>
<hr>
<table class="desc">
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2017 ~</span></td>
        <td class="tb_desc">
            Software engineer<br>
            Samsung Electronics Co., Ltd.
            <span class="tag">#Samsung #Android #Application #Service #Engineer #Developer #GalaxyStore #Weather</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2015 ~ 2016</span></td>
        <td class="tb_desc">
            Virtual/Argumented reality student researcher<br>
            Namseoul Univ.
            <span class="tag">#Unity #Eon #VR #AR #ContentDeveloper</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2015 ~ 2016</span></td>
        <td class="tb_desc">
            Student developer<br>
            Microsoft Student Partners 9th
            <span class="tag">#Microsoft #MSP #Supporters</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2014 ~ 2016</span></td>
        <td class="tb_desc">
            Freelancer
            <span class="tag">#HTML #Javascript #VB #Csharp #PHP #Web</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2011 ~ 2016</span></td>
        <td class="tb_desc">
            Bachelor of Computer science<br>
            Namseoul Univ.
            <span class="tag">#Computer #Software #Engineering #Cpp #Csharp #js #Unity #Eon #Unreal #VR #AR #java #Android</span>
        </td>
    </tr>
</table>