<h1 class="section_title"><i class="fa-solid fa-person-walking"></i>&nbsp;Experiences</h1>
<hr>
<table class="desc">
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>Tech</span></td>
        <td class="tb_desc">
            Main) Android | Java | Kotlin
            <span class="tag">Dabble in) Unity C# Javascript Web somethingElse...</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2021</span></td>
        <td class="tb_desc">
            2nd place won in the 스타트업과 함께하는 피버팅 해커톤<br>
            KITA (한국무역협회)
            <span class="tag">#Unity #Salin #XR #Developer #TeamMember</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2018 ~ 2020</span></td>
        <td class="tb_desc">
            Android application developer & member<br>
            Mash-up 6th ~ 8th&nbsp;<a href="https://mash-up.kr/" target="_new">#Web</a>
            <span class="tag">#Mash-up #Study #Group #Android #Developer #TeamLeader</span>
        </td>
    </tr>
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>2015</span></td>
        <td class="tb_desc">
            3rd place won in the NOS 7th, a game programming competition&nbsp;
            <a href="https://blog.naver.com/nx_reporter/220576098931" target="_new">#Link</a><br>
            Nexon Korea
            <span class="tag">#NexonIn #Nexon #Competition #Programming</span>
        </td>
    </tr>
</table>