<div style="height:100px; position: relative">
    <div style="float:left">
        <h1 class="section_title">Jujin Kim</h1>
        <span>Software engineer, Application developer.<br>Suwon, Republic of Korea</span>
    </div>
    <image id="img_profile" src="https://0.gravatar.com/avatar/8c31344af0a708eccaacf885250fe9af40462e5cd8267ccde77bb948d69d6534?size=540" alt="jujinkim" />
</div>
<hr>
<div class="divLinks">
    <span class="links_section_jujin">
        <a href="http://www.facebook.com/jujinjujinjujin">
        <img src="./images/icon-facebook-black.png" class="black" alt="facebook"/>
        <img src="./images/icon-facebook-white.png" class="white" alt="facebook"/>
        &nbsp;</a>
    </span><span class="links_section_jujin">
        <a href="http://www.instagram.com/jujin__kim" target="_new">
        <img src="./images/icon-instagram-black.png" class="black" alt="instagram"/>
        <img src="./images/icon-instagram-white.png" class="white" alt="instagram"/>
        &nbsp;</a>
    </span><span class="links_section_jujin">
        <a href="https://www.linkedin.com/in/jujinkim/" target="_new">
        <img src="./images/icon-linkedin-black.png" class="black" alt="linkedin"/>
        <img src="./images/icon-linkedin-white.png" class="white" alt="linkedin"/>
        &nbsp;</a>
    </span><span class="links_section_jujin">
        <a href="https://www.github.com/jujinkim" target="_new">
        <img src="./images/icon-github-black.png" class="black" alt="github"/>
        <img src="./images/icon-github-white.png" class="white" alt="github"/>
        </a>
    </span> 
    <br />
    <a href="mailto://jujin@jujinkim.com">jujin@jujinkim.com</a>
</div>