<h1 class="section_title"><i class="fa-solid fa-link"></i>&nbsp;Links</h1>
<hr>
<div class="divLinks">
    <span class="links_span_linkSection">
        <a href="http://www.facebook.com/jujinjujinjujin">
        <img src="./images/icon-facebook-black.png" class="black" alt="facebook"/>
        <img src="./images/icon-facebook-white.png" class="white" alt="facebook"/>
        Facebook&nbsp;</a>
    </span><span class="links_span_linkSection">
        <a href="http://www.instagram.com/jujin__kim" target="_new">
        <img src="./images/icon-instagram-black.png" class="black" alt="instagram"/>
        <img src="./images/icon-instagram-white.png" class="white" alt="instagram"/>
        Instagram&nbsp;</a>
    </span><span class="links_span_linkSection">
        <a href="https://www.linkedin.com/in/jujinkim/" target="_new">
        <img src="./images/icon-linkedin-black.png" class="black" alt="linkedin"/>
        <img src="./images/icon-linkedin-white.png" class="white" alt="linkedin"/>
        LinkedIn&nbsp;</a>
    </span><span class="links_span_linkSection">
        <a href="https://www.github.com/jujinkim" target="_new">
        <img src="./images/icon-github-black.png" class="black" alt="github"/>
        <img src="./images/icon-github-white.png" class="white" alt="github"/>
        GitHub</a>
    </span> 
</div>
<hr>
<table class="desc">
    <tr class="tb_space"></tr>
    <tr>
        <td class="tb_year"><span>Email</span></td>
        <td class="tb_desc divLinks">
            <a href="mailto://jujin@jujinkim.com">jujin@jujinkim.com</a><br>
        </td>
    </tr>
    <tr>
        <td class="tb_year"><span>NS</span></td>
        <td class="tb_desc divLinks">
            SW-5713-3751-2418
        </td>
    </tr>
    <tr>
        <td class="tb_year"><span>Battle.net</span></td>
        <td class="tb_desc divLinks">
            Dinner#11221
        </td>
    </tr>
    <tr>
        <td class="tb_year"><span>Steam</span></td>
        <td class="tb_desc divLinks">
            <a href="https://steamcommunity.com/id/jujinjujin" target="_new">jujinkim</a>
        </td>
    </tr>
    <tr>
        <td class="tb_year"><span>Origin</span></td>
        <td class="tb_desc divLinks">
            GodDinner
        </td>
    </tr>
</table>      