/* Profile image */
#img_profile {
    width:60px; 
    height:60px; 
    border-radius: 25px; 
    right: -15px;
    top: -15px;
    position: absolute;
    border: 4px solid var(--bg);
    box-shadow: var(--item-shadow-dist) var(--item-shadow-dist)
                var(--item-shadow-size) var(--bg-bottom-shadow), 
                calc(var(--item-shadow-dist) * -1) calc(var(--item-shadow-dist) * -1)
                var(--item-shadow-size) var(--bg-top-shadow);
}

span.profile_btn_txt {
    display: none;
}

div.divLinks .links_span_linkSection {
    white-space: nowrap;
    display: block;
}